{% extends 'firstTemplate.html' %}
{% load static %}

{% block content %}
    <div class="solo-photo">
        <img src="{{image.url}}" alt="" height="90%" width=auto" border="4px; solid; #8B4513">
    </div>
    <div class="solo-photo-name">
        <p style="padding-left:5px; color:white;font-size:30px;font-family:Ubuntu; text-align:left;"><span
                style="font-weight: bold; padding-left:5px;">Название: </span> {{image.name}}</p>
    </div>
    <div class="img-tags">
        <p class="tag" style="font-weight: bold; padding-left:10px; font-family:Ubuntu; font-size:30px;">Теги:</p>
        {% for tag in image.tags.all %}
        <p class="tag" style="color:white;font-size:25px;font-family:Ubuntu; text-align:left; padding-left:10px;"><a href="../search/{{tag}}">{{tag}}</a></p>
        {% endfor %}
    </div>
    <div class="date">
        <p class="tag" style="font-weight: bold; padding-left:10px; font-family:Ubuntu; font-size:30px;">{{image.date_created}}</p>
    </div>
    <div class="author">
        <p class="author_name" style="font-weight: bold; padding-left:10px; font-family:Ubuntu; font-size:30px;">Автор: <a style="text-decoration: none; color:white" href="../search/{{image.author}}">{{image.author}}</a></p>
    </div>
    <div class="description">
                <p style="padding-left: 5px; color:white;font-size:30px;font-family:Ubuntu; text-align:left;"><span
                style="font-weight: bold; padding-left:5px; padding-bottom: 10px">Описание: </span> {{image.description}}</p>
    </div>

    <h1 style= "padding-left:10px">Изменить теги:</h1>
    <form action="" method="POST" style="color:white;font-size:25px;font-family:Ubuntu; text-align:left; padding-left:10px;">
        {% csrf_token %}
        {{ changetag }}
        <button class="submit-button" type="submit" name="submit" style="margin-bottom: 10px">Изменить</button>
        <button class="submit-button" type="submit" name="add" style="margin-bottom: 10px">Добавить</button>
        <button class="submit-button" type="submit" name="remove" style="margin-bottom: 10px">Удалить</button>
    </form>
{% endblock %}